@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  color: #ffffff;
  background-color: #0d1117;
  font-family: 'Poppins', sans-serif;
  padding: 0%;
  margin: 0%;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.test {
  font-size: 10em;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.form {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.vorname {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;


}

.vorname::placeholder {
  color: transparent;
}

.vorname:placeholder-shown~.vorlabel {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.vorlabel {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.vorname:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.vorname:focus~.vorlabel {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.button {
  border-radius: 50px;
  font-size: 1.3em;
  font-weight: 600;
  height: 1.5em;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to right, darkblue, #31096e);
  border-width: 0ch;
}

.button:hover {
  background: black;
  cursor: pointer;
  border-width: 2px;
  border-color: darkblue;
}

.home {
  border-radius: 50px;
  font-size: 1.8em;
  font-weight: 600;
  height: 1.5em;
  width: 5em;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to right, darkblue, #31096e);
  border-width: 0ch;
}

.home:hover {
  background: black;
  cursor: pointer;
  border-width: 2px;
  border-color: darkblue;
}

header {
  display: grid;
  justify-content: right;
  padding: 20px;
}

.arrow{
  font-size: 2em;
}