.in{
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
}



.selection{
    grid-column: 3 / span 1;
    grid-row: 2/ span 1;
}

select {
    width: 150px;
    margin: 10px;
    font-size: 1.5em;
}
select:focus {
    min-width: 150px;
    width: auto;
}