* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    font-family: sans-serif;
    display: grid; 
    grid-template-columns:  30% 40% 30%;
    grid-template-rows: 10vh 70vh 20vh;
    justify-items: center;
    color: white;
    animation: 1s ease-out 0s 1 body;
}

.ltext{
  grid-column: 1 / span 1;
  grid-row: 2 /  span 1;
  padding: 10%;
  text-align: justify;
  font-size: larger;
  transition: 2s;
  animation: 1s ease-out 0s 1 ltext;
}

.rtext{
  grid-column: 3 / span 1;
  grid-row: 2 /  span 1;
  padding: 10%;
  text-align: justify;
  font-size: larger;
  animation: 1s ease-out 0s 1 rtext;
}

@keyframes body{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes ltext {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes rtext {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}


.home{
  grid-column: 3 / span 1;
    grid-row: 0 /  span 1;
    border-radius: 50px;
    font-size: 1.8em;
    font-weight: 600;
    height: 1.5em;
    width: 5em;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(to right, darkblue, #31096e);
    border-width: 0ch;
}

.home:hover{
  background: black;
  cursor: pointer;
  border-width: 2px;
  border-color: darkblue;
}


/*TODO: Move Glitch to Cryptographie*/
.glitch {
    grid-column: 2 / span 1;
    grid-row: 0 /  1;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    justify-self: center;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 1;
    left: 42.5%;
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
          0.025em 0.04em 0 #fffc00;
      }
      15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
          0.025em 0.04em 0 #fffc00;
      }
      16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
          -0.05em -0.05em 0 #fffc00;
      }
      49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
          -0.05em -0.05em 0 #fffc00;
      }
      50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
          0 -0.04em 0 #fffc00;
      }
      99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
          0 -0.04em 0 #fffc00;
      }
      100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
          -0.04em -0.025em 0 #fffc00;
      }
}



.menu{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    color: black;
}

.menu li{
    position: absolute; 
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s*var(--i));
    transform: rotate(0deg) translateX(80px);
}

.menu.active li {
    transform: rotate(calc(360deg / 5 * var(--i)));
}

.menu li a
{
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(calc(360deg / -5 * var(--i)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2em;
    color: #111;
    transition: 0.5s;
}

.menu li a:hover{
    color: red;
}

.toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2em;
    transition: transform 1.25s;

}

.menu.active .toggle{
    transform: rotate(315deg);
}